.Congratulations {
    z-index: 100;
    position: absolute;
    box-sizing: border-box;
    padding: 50px;
    width: 617px;
    height: 425px;
    left: calc(50% - 617px/2 - 11.5px);
    top: calc(50% - 425px/2 + 0.5px);

    background: rgba(86, 0, 236, 0.78);
    box-shadow: 0px 4px 24.8px 6px rgba(0, 51, 255, 0.96);
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 95px;
    border: 5px solid #FFAF1A ; /* Толщина 5px, цвет черный */
}

.Cong-btn {

    box-sizing: border-box;
    position: fixed;
    top: 290px;
    width: 431px;
    height: 77px;

    left: 50%; /*  Устанавливаем значение left на 50% */
    transform: translateX(-50%); /*  Сдвигаем фон на половину своей ширины влево */

    background: linear-gradient(90deg, #F7FF00 0%, #FFF700 100%);
    border: 1px solid rgba(72, 255, 176, 0.1);
    box-shadow: 0px -1px 8px 3px rgba(96, 255, 138, 0.52);
    border-radius: 9px;
}

.Cong-btn-text {
    top: 48px;
    font-family: Gilroy;
    font-size: 48px;
    font-weight: 800;
    color: #4609BD;
}

.Cong-win {
    position: absolute;
    display: flex;
    flex-direction: column;
    column-gap: -30px;
    left: 50%; /*  Устанавливаем значение left на 50% */
    transform: translateX(-50%); /*  Сдвигаем фон на половину своей ширины влево */
}

.Cong-title {
    font-family: Gilroy;
    font-size: 48px;
    font-weight: 600;
    color: #FFFFFF;
}

.Cong-text {

    font-family: Gilroy;
    font-weight: 600;
    font-size: 64px;
    line-height: 60px;

    background: linear-gradient(90deg, #FFFF00 0%, #FFBE44 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.Cong-text2 {
    text-wrap: nowrap;

    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 60px;

    background: linear-gradient(90deg, #FFFF00 0%, #FFBE44 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.Cong-bg {
    /* Rectangle 9865 */
    z-index: 20;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.75);
}

.Cong-cards {
    top: 200px;
    position: fixed;
    left: 32%; /*  Устанавливаем значение left на 50% */
    transform: translateX(-50%); /*  Сдвигаем фон на половину своей ширины влево */
    z-index: 0;
    animation: Table 4s ease-in-out infinite;
  }

.Cong-money {
    top: 450px;
    position: fixed;
    left: 67%; /*  Устанавливаем значение left на 50% */
    transform: translateX(-50%); /*  Сдвигаем фон на половину своей ширины влево */
    z-index: 0;
    animation: Table 4s ease-in-out infinite;
}

.Cong-coin {
    top: 220px;
    position: fixed;
    left: 67%; /*  Устанавливаем значение left на 50% */
    transform: translateX(-50%); /*  Сдвигаем фон на половину своей ширины влево */
    z-index: 150;
    animation: Table 4s ease-in-out infinite;
}

@media  (min-width: 720px) and (max-width: 1440px) {
.Cong-bg {

}
.Cong-cards {
    top: 30px;
    left: 20%; 
    scale: 90%;
}
.Cong-money {
    top: 350px;
    left: 74%; 
    scale: 80%;
}
.Cong-coin {
    top: 80px;
    left: 74%;
    scale: 90%;
}
}

@media  screen and (max-width: 720px) {
    .Cong-title {
        font-size: 24px;
        padding-left: -40px;
    }
    .Cong-win { 
        top: 80px;
    }
    .Cong-text {
        font-weight: 600;
        font-size: 36px;
        line-height: 30px;
    }
    .Cong-text2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 60px;
    }
    .Cong-btn {
        /* height: 110px; */
        height: 52px;
        width: 240px;
        top: 170px;
    }
    .Cong-btn-text {
        font-size: 32px;
        line-height: 30px;
    }
    .Congratulations {
        padding: 0px;
        padding-top: 40px;
        top: 32dvh;
        height: 280px;
        width: 300px;
        left: 50dvw; /*  Устанавливаем значение left на 50% */
        transform: translateX(-50%); /*  Сдвигаем фон на половину своей ширины влево */
    }
    .Cong-bg {

    }
    .Cong-cards {
        position: fixed;
        top: 8dvh;
        left: 1dvw; 
        scale: 40%;
    }
    .Cong-money {
        top: 40dvh;
        left: 53dvw; 
        scale: 50%;
    }
    .Cong-coin {
        top: 23dvh;
        left: 72dvw; /*  Устанавливаем значение left на 50% */
        transform: translateX(-50%); /*  Сдвигаем фон на половину своей ширины влево */
        right: 100px;
        scale: 60%;
    }
}